.formContainer {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff;
    column-gap: 20px;
    row-gap: 5px;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc;
    border-radius: 5px;
    
}

.inputArea {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: green; */
}

.input {
    width: 100%;
    padding: 0 10px;
    border: 1px solid #bbb;
    border-radius: 5px;
    height: 100%;
    min-height: 40px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-transform: capitalize;
}

.button {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #076633;
    color: white;
    height: 42px;
}

.button:hover {
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #FFBF00;
    color: white;
    height: 42px;
}

.label {
    width: 100%;
    font-weight: 500;
    word-wrap: break-word;
    text-wrap: nowrap;
    /* Se necessário, adicione estilos para labels aqui */
}
