.Background {
    background-color: #020402;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 13px;
}

.LinksContainer {
    justify-content: space-between;
    color: white;
    display: flex;
}

.LinksText {
    font-size: 15px;
    color: white;
}

.FontOffFocus {
    color: white;
    word-spacing: 2px;
}