.NavBarBackground {
    display: flex;
    background-color: rgb(150, 18, 18);
    color: blue;
}

ul {
    list-style-type: none;
    display: flex;
}

li {
    margin-right: 10px; /* Adicione espaçamento entre os itens da lista */
}

a {
    text-decoration: none;
    color: inherit;
}
